<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Sponsors:</strong>
  <td>
    <% @event.sponsors.each do |s|%>  
    <%= s.name %> <br>
    <% end %>
  </td>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<% content_for :sidebar do %>

<table border="2"> 
  <thead>
    <tr>
      <th>start time</th>
      <th>end time</th>
      <th>name</th>
      <th>location</th>
    </tr>
  </thead>  
  <tbody>
  <% @event.meetings.each do |s| %>
  <tr>
    <td><%= s.start_time %></td>
    <td><%= s.end_time %></td>
    <td><%= s.name %></td>
    <td><%= s.location.name %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= render(partial: "event_sponsors", object: @event)%>
<% end %>



